  <li>
    <a href="https://www.twitter.com/{{ site.twitter.username }}/" itemprop="sameAs">
      <i class="fab fa-twitter" aria-hidden="true"></i> Twitter
    </a>
  </li>

  <li>
    <a href="https://www.medium.com/@{{ site.medium.username }}/" itemprop="sameAs">
      <i class="fab fa-medium" aria-hidden="true"></i> Medium
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}/" itemprop="sameAs">
      <i class="fab fa-linkedin" aria-hidden="true"></i> Linkedin
    </a>
  </li>

  <li>
    <a href="https://www.github.com/{{ site.github.username }}/" itemprop="sameAs">
      <i class="fab fa-github" aria-hidden="true"></i> Github
    </a>
  </li>
